<?xml version="1.0"?>
<configuration>
  <appSettings>
    
    <!-- Defines the names of the fields to look for valid urls in -->
    <add key="fieldsToCheck" value="my:URL;my:Description"/>
    
    <!-- Defines the names of the document libraries to check -->
    <add key="docLibraries" value="Introduction Resources"/>

    <!-- Defines the url of the sharepoint site -->
    <add key="siteBaseUrl" value="http://localhost:8081"/>

    <!-- When true this property will result in any document containin invalid urls being unpublished -->
    <add key="unpublishInvalidDocs" value="True"/>
    
  </appSettings>

  <startup>
     <supportedRuntime version="v2.0.50727"/>
  </startup>
  
</configuration>
